/* a {
    
    text-decoration: none !important;

} */

/* 
body {
    background-image: url(/static/img/tbg1.jpeg) !important;
    background-size: cover;
    background-repeat: repeat;
    
} */

 


