{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
    <article class="media">
        <div class="media-left">
            <figure class="image is-220x220">
                <img class="is-rounded" src="\{{user_profile.picture}}" style="border: 1px solid #f7bb97; width:220px; height: 220px;">
            </figure>
        </div>


        <div class="media-content">
            <br>
            <div class="content">


                <h2 class="title is-3" style="font-family: cursive;">{{user_profile.username}}</h2>
                <h4 class="subtitle">{{user_profile.bio}}</h4>
                <br> {% if user_profile.username == request.user.username %}
                <a class="button btn-sm btn-success" href="{% url 'edit_profilepage' user.username %}">
                Edit profile
               </a> {% endif %}
                <div style="margin-top: 10px;">
                    <a class="btn btn-info" href="{% url 'addpost' %}">add post</a>
                </div>
                {% if user_profile.username != request.user.username and request.user.is_authenticated %} {% if user_profile in following_list %}
                <a class="button btn-sm btn-danger" href="{% url 'unfollowing_profilepage' user_profile.username %}">
                Unfollow
               </a> {% else %}
                <a class="button btn-sm btn-danger" href="{% url 'following_profilepage' user_profile.username %}">
                Follow
               </a> {% endif %} {% endif %}

            </div>

            <nav class="level" style="font-family: fantasy;">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="subtitle is-2">posts</p>
                        <p class="subtitle">{{ total_posts }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="subtitle is-2">following</p>
                        <p class="subtitle">{{ user_profile.count_following }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="subtitle is-2">followers</p>
                        <p class="subtitle">{{ user_profile.count_followers }}</p>
                    </div>
                </div>
            </nav>
        </div>
    </article>

    <br>
    <div class="tabs is-centered is-boxed is-small">
        <ul>
            <li class="is-active">
                <a>
                    <span class="icon is-small"><i class="small material-icons">photo_camera</i></span>
                    <span>Posts</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="icon is-small"><i class="small material-icons">live_tv</i></span>
                    <span>IGTV</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="icon is-small"><i class="small material-icons">save</i></span>
                    <span>Saved</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="icon is-small"><i class="small material-icons">person_pin_circle</i></span>
                    <span>Tagged</span>
                </a>
            </li>
        </ul>
    </div>

    <br> {% for post in posts %}


    <div class="container" style="
  float: left;
  width: 33%;
  padding: 10px;
">

        <div class="card" style="width: 24rem; height: 35rem; border: 1px dotted violet;">

            <img class="card-img-top" src="\{{post.picture}}" style="border: 1px solid #ffaf7b; height: 60%;">

            <div class="card-body" style="background: linear-gradient(#93a5cf, #e4efe9);">

                <div class="container">
                    <div class="row">
                        {% if post.liked %}
                        <a href="{% url 'like_page' post.id %}" class="navbar-item"><i class="large material-icons" style="color:red;">favorite</i></a> {% else %}
                        <a href="{% url 'like_page' post.id %}" class="navbar-item"><i class="large material-icons">favorite_border</i></a> {% endif %}

                        <a class="navbar-item">
                            <i class="large material-icons">chat_bubble_outline</i>
                        </a>

                        <a class="navbar-item">
                            <i class="large material-icons">near_me</i>
                        </a>

                        {% if user_profile.username == request.user.username %}
                        <a class="navbar-item" href="{% url 'delete_page' post.id %}" style="color: red;">
                            <i class="large material-icons">delete</i>
                        </a>
                        {% endif %}

                    </div>
                </div>
                <br>
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;">{{ post.total_likes}} likes</p>
                <a class="card-text" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;">{{ post.author }}</a>
                <span>{{ post.caption }}</span>
                <p class="card-text" style="font-family: cursive;">{{ post.date_created | timesince }} ago</p>
            </div>
        </div>

    </div>




    {% endfor %}

</div>
</div>
{% endblock %}